<div class="access index">
<h1>Menu</h1>
<p>Your are loged in as <%= @username %></p>
<ul>
  <li><%= link_to('Manage subjects', subjects_path) %></li>
  <li><%= link_to('Manage pages', pages_path) %></li>
</ul>
</div>