<h1>Pages#delete</h1>
<h2>Delete page here</h2>
<%= form_for(@page, :method => "delete") do |f| %>
    <h3>Are you sure you want to delete this record?</h3>
    <p>Subject Name:
    <%= @page.name %></p>
    <%= f.submit("Delete page") %>    
<% end %>
